spring.datasource.url=jdbc:postgresql://localhost:5432/hbv501
spring.datasource.username=your_db_username
spring.datasource.password=your_db_password
ors.key=your_ors_key
ors.baseurl=https://api.openrouteservice.org
jwt_secret=Secret_to_generate_your_jwts

spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.spatial.dialect.postgis.PostgisDialect
spring.jpa.hibernate.format-sql=true
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false
